unpackaged/main/default/flows/Conga_Sign_Transaction_Slot_Assignment_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Product_Ids</name>
        <label>Assign Product Ids</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>VAR_ProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Quote_Line_Loop.SBQQ__Product__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_ProductId_Quantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProductId_Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quote_Line_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Slots_On_RBO</name>
        <label>Assign Total Slots On RBO</label>
        <locationX>440</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>Filter_Loop.Total_Slots_on_RBO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalSlotsOnRBO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_ProductRecordsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Loop</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Product_Id_Filter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Product Id Filter</label>
        <locationX>352</locationX>
        <locationY>1055</locationY>
        <assignNextValueToReference>currentItem_Product_Id_Filter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Products</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Product_Id_Filter.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>OnlyProductId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_Loop</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <formulas>
        <name>OnlyProductId</name>
        <dataType>String</dataType>
        <expression>LEFT({!Product_Quantity_Loop}, FIND( &quot;_&quot;, {!Product_Quantity_Loop} ) -1 )</expression>
    </formulas>
    <formulas>
        <name>OnlyQuantity</name>
        <dataType>Number</dataType>
        <expression>VALUE(RIGHT({!Product_Quantity_Loop}, LEN({!Product_Quantity_Loop}) - FIND(&quot;_&quot;, {!Product_Quantity_Loop})))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ProductId_Quantity</name>
        <dataType>String</dataType>
        <expression>{!Quote_Line_Loop.SBQQ__Product__r.Id}&amp;&apos;_&apos;&amp;TEXT({!Quote_Line_Loop.SBQQ__Quantity__c})</expression>
    </formulas>
    <formulas>
        <name>TotalSlotsOnRBO</name>
        <dataType>Number</dataType>
        <expression>{!Filter_Loop.Total_Slots_on_RBO__c}+{!OnlyQuantity}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Conga Sign Transaction: Slot Assignment Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conga Sign Transaction: Slot Assignment Automation</label>
    <loops>
        <name>Filter_Loop</name>
        <label>Filter Loop</label>
        <locationX>352</locationX>
        <locationY>1163</locationY>
        <collectionReference>Product_Id_Filter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Total_Slots_On_RBO</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Product_Quantity_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Product_Quantity_Loop</name>
        <label>Product Quantity Loop</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <collectionReference>VAR_ProductId_Quantity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Product_Id_Filter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Quote_Line_Loop</name>
        <label>Quote Line Loop</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Null_Product_Option_Quote_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Product_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Null_Product_Option_Quote_Lines</name>
        <label>Get Null Product Option Quote Lines</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_Line_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductOption__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Quantity_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>VAR_ProductIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Null_Product_Option_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_a1b__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Products</name>
        <label>Update Products</label>
        <locationX>176</locationX>
        <locationY>1547</locationY>
        <inputReference>VAR_ProductRecordsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>APXT_CongaSign__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SENT</stringValue>
            </value>
        </filters>
        <object>APXT_CongaSign__Transaction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>currentItem_Product_Id_Filter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>VAR_ProductId_Quantity</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_ProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_ProductQuantities</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>VAR_ProductRecordsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
