unpackaged/main/default/flows/Generate_and_Send_RBO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Go_Back_to_Quote_Record</name>
        <label>Go Back to Quote Record</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <actionName>c:OpenURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>replace</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <stringValue>/{!Get_Quote_Record.Id}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:OpenURL</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Redirect_to_Conga_URL</name>
        <label>Redirect to Conga URL</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <actionName>c:OpenURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>replace</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>CongaURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenURL</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>ASN_Store_Quote_Line_and_Product_Ids</name>
        <label>ASN_Store Quote Line and Product Ids</label>
        <locationX>270</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>VAR_ProductRecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Quote_Lines.SBQQ__Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_QuoteLineRecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Quote_Lines.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quote_Record_to_Variable</name>
        <label>Assign Quote Record to Variable</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>VAR_QuoteRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Quote_Line_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QuoteLine_Records_to_Variable</name>
        <label>Assign QuoteLine Records to Variable</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>VAR_QuoteLineRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Quote_Has_NO_Presented_Line_Item</name>
        <label>Quote Has NO Presented Line Item</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>SorryScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE_Return_Conga_URL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Quote_Lines_of_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Redirect_to_Conga_URL</targetReference>
            </connector>
            <label>TRUE_Return Conga URL</label>
        </rules>
    </decisions>
    <description>Simplus version of the Send RBO Process</description>
    <environments>Default</environments>
    <formulas>
        <name>CongaURL</name>
        <dataType>String</dataType>
        <expression>URLFOR(&apos;/apex/APXTConga4__Conga_Composer?SolMgr=1&amp;serverUrl=&apos; + {!$Api.Partner_Server_URL_370} + &apos;&amp;Id=&apos; + {!Get_Quote_Record.Id}+ &apos;&amp;QueryId=&apos; + &apos;[TrucksRBO]0Q_014UAC668108,[Quoteline2]0Q_012UAC355309,[TradeIn]0Q_007UAC713212,&apos; + &apos;&amp;WordStripIfs=1&amp;CSVisible=1&amp;CSRecipient1=&apos; + {!Get_Quote_Record.SBQQ__PrimaryContact__c} + &apos;&amp;CSRole1=SIGNER&amp;ContactId=&apos; + {!Get_Quote_Record.SBQQ__PrimaryContact__c} + &apos;&amp;DefaultPDF=1&amp;CSRecipient2=&apos; + {!Get_Quote_Record.Sales_Rep_s_Manager__r.Id} + &apos;&amp;CSRoutingType=SERIAL&amp;CSExpiration=&apos; + TEXT(TODAY()+6) + &apos;T05:59:59.000Z&apos; + &apos;&amp;CSRequestReminder=1&amp;CSRole2=SIGNER&amp;CSExpirationReminder=&apos; + TEXT(TODAY()+3) +&apos;T05:59:59.000Z&apos; + &apos;&amp;TemplateId=&apos; + {!Get_Quote_Record.Conga_RBO_Template_Id__c} + &apos;&amp;DS0=0&amp;DS4=1&amp;TemplateGroup=NOTHING&amp;OFN=RBO+for+&apos; + {!Get_Quote_Record.Conga_Account_Name__c} + &apos;-&apos; + {!Get_Quote_Record.Name} + &apos;&amp;contentVisibility=SharedUsers&amp;contentShareType=I&amp;ContentWorkspaceId=0581R000001Hz6I&amp;ContentCustomFieldName=Conga_Merge__c&amp;ContentCustomFieldValue=RBO|&apos; + {!recordId} + &apos;&amp;CSEmailSubject=Custom+Truck+One+Source+Retail+Buyers+Order+for+Signature&amp;CSEmailMessage=Your+sales+rep+has+sent+you+this+contract+for+signature.+Equipment+is+not+reserved+without+your+signature.&amp;csmultidocs=0&apos;)</expression>
    </formulas>
    <formulas>
        <name>QuoteURL</name>
        <dataType>String</dataType>
        <expression>URLFOR(&apos;/&apos;&amp;{!VAR_QuoteRecord.Id})</expression>
    </formulas>
    <interviewLabel>Generate and Send RBO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate and Send RBO</label>
    <loops>
        <name>Loop_Quote_Lines</name>
        <label>Loop Quote Lines</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <collectionReference>VAR_QuoteLineRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASN_Store_Quote_Line_and_Product_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Quote_Lines_of_Product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Quote_Lines_of_Product</name>
        <label>Get All Quote Lines of Product</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_Has_NO_Presented_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Product__c</field>
            <operator>In</operator>
            <value>
                <elementReference>VAR_ProductRecordIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuoteLine_Presented__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>VAR_QuoteLineRecordIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inventory</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Records</name>
        <label>Get Quote Line Records</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_QuoteLine_Records_to_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Record</name>
        <label>Get Quote Record</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Quote_Record_to_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ProcessingScreen</name>
        <label>ProcessingScreen</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Quote_Record</targetReference>
        </connector>
        <fields>
            <name>ProcessingScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ProcessingScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InProgress</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>truck_loading</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ProcessingScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InProgressMessage</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;﻿Please wait while the system checks for Quote Lines that are already been sent to Customer for Signing.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ProcessingTimer</name>
            <extensionName>c:flowAutoNavigate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>maxTime</name>
                <value>
                    <stringValue>0:0:7:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>timerLabel</name>
                <value>
                    <stringValue>Please wait while we system checks if there are Quote Lines that are already been sent to Customer for Signing</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showTimer</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SorryScreen</name>
        <label>SorryScreen</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Go_Back_to_Quote_Record</targetReference>
        </connector>
        <fields>
            <name>SorryMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Oops! Sorry! 🙁&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This Quote has a Quote Line using a VIN that is marked RBO in Process for a different Quote.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Quote Line that is already in &quot;RBO in Process&quot;:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;/{!Get_All_Quote_Lines_of_Product.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_All_Quote_Lines_of_Product.Name}&lt;/a&gt; - &lt;a href=&quot;/{!Get_All_Quote_Lines_of_Product.SBQQ__Product__r.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_All_Quote_Lines_of_Product.SBQQ__ProductName__c}&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CancelButton</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;/{!Get_Quote_Record.Id}&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Go Back to Quote</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ProcessingScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>progressMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;&amp;lt;div class=&quot;slds-grid slds-gutters&quot;&amp;gt;
&amp;lt;div class=&quot;slds-col slds-size_1-of-12&quot;&amp;gt;
&amp;lt;/div&amp;gt;
&amp;lt;div class=&quot;slds-col slds-size_11-of-12&quot;&amp;gt;
&amp;lt;/div&amp;gt;
&amp;lt;/div&amp;gt;
&lt;/pre&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CTR_PresentedLineItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CTR_RBOInProcessLines</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>IsRBOinProcessUpdateComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_ProductRecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_QuoteLineRecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_QuoteLineRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>VAR_QuoteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
</Flow>
