unpackaged/main/default/flows/Quote_Line_Email_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Notification_to_Inside_Sales_Central</name>
        <label>Email Notification to Inside Sales - Central</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>SBQQ__QuoteLine__c.Quote_Line_Quote_Line_with_0_Central</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SBQQ__QuoteLine__c.Quote_Line_Quote_Line_with_0_Central</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Notification_to_Inside_Sales_Midwest</name>
        <label>Email Notification to Inside Sales - Midwest</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>SBQQ__QuoteLine__c.Quote_Line_Quote_Line_with_0_Midwest</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SBQQ__QuoteLine__c.Quote_Line_Quote_Line_with_0_Midwest</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Notification_to_Inside_Sales_Northeast</name>
        <label>Email Notification to Inside Sales - Northeast</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <actionName>SBQQ__QuoteLine__c.Quote_Line_Quote_Line_with_0_Northeast</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SBQQ__QuoteLine__c.Quote_Line_Quote_Line_with_0_Northeast</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Notification_to_Inside_Sales_South</name>
        <label>Email Notification to Inside Sales - South</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <actionName>SBQQ__QuoteLine__c.Quote_Line_Quote_Line_with_0_South</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SBQQ__QuoteLine__c.Quote_Line_Quote_Line_with_0_South</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Notification_to_Inside_Sales_West</name>
        <label>Email Notification to Inside Sales - West</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <actionName>SBQQ__QuoteLine__c.Quote_Line_Quote_Line_with_0_West</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SBQQ__QuoteLine__c.Quote_Line_Quote_Line_with_0_West</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Option_Add_on_with_0</name>
        <label>Option/Add-on with $0</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Central</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Owner:User.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Central Region</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__ProductName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Option/Add-on</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Quote_Requests</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Notification_to_Inside_Sales_Central</targetReference>
            </connector>
            <label>Central</label>
        </rules>
        <rules>
            <name>Midwest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Owner:User.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mid-West Region</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__ProductName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Option/Add-on</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Quote_Requests</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Notification_to_Inside_Sales_Midwest</targetReference>
            </connector>
            <label>Midwest</label>
        </rules>
        <rules>
            <name>Northeast</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Owner:User.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>East Region</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__ProductName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Option/Add-on</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Quote_Requests</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Notification_to_Inside_Sales_Northeast</targetReference>
            </connector>
            <label>Northeast</label>
        </rules>
        <rules>
            <name>South</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Owner:User.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>South Region</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__ProductName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Option/Add-on</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Quote_Requests</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Notification_to_Inside_Sales_South</targetReference>
            </connector>
            <label>South</label>
        </rules>
        <rules>
            <name>West</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Owner:User.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>West Region</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__ProductName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Option/Add-on</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Quote_Requests</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Notification_to_Inside_Sales_West</targetReference>
            </connector>
            <label>West</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Quote Line: Email Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Line: Email Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Quote_Requests</name>
        <label>Get Related Quote Requests</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Option_Add_on_with_0</targetReference>
        </connector>
        <filterLogic>(1 AND 4) OR (1 AND 2 AND 3)</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Assigned_To__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Assigned_To__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Assigned_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Quote_Requests</targetReference>
        </connector>
        <object>SBQQ__QuoteLine__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
