unpackaged/main/default/flows/Upload_File.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Refresh_Page</name>
        <label>Refresh Page</label>
        <locationX>578</locationX>
        <locationY>2780</locationY>
        <actionName>c:RedirectPage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:RedirectPage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_all_Document_Ids</name>
        <label>Assign all Document Ids</label>
        <locationX>50</locationX>
        <locationY>2024</locationY>
        <assignmentItems>
            <assignToReference>var_AllDocIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FileUpload.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Uploaded_Files</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Input_to_Variable</name>
        <label>Assign Input to Variable</label>
        <locationX>314</locationX>
        <locationY>800</locationY>
        <assignmentItems>
            <assignToReference>var_DocumentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_DocumentType_Quote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Libraries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Input_to_Variable2</name>
        <label>Assign Input to Variable</label>
        <locationX>578</locationX>
        <locationY>800</locationY>
        <assignmentItems>
            <assignToReference>var_DocumentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_DocumentType_QuoteRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Libraries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Library_Count</name>
        <label>Assign Library Count</label>
        <locationX>578</locationX>
        <locationY>1208</locationY>
        <assignmentItems>
            <assignToReference>filterLibraryCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_By_Document_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Library_Access</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Picklist_Value</name>
        <label>Assign Picklist Value</label>
        <locationX>578</locationX>
        <locationY>2672</locationY>
        <assignmentItems>
            <assignToReference>var_DocumentType</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Refresh_Page</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Uploaded_Files</name>
        <label>Count Uploaded Files</label>
        <locationX>50</locationX>
        <locationY>2132</locationY>
        <assignmentItems>
            <assignToReference>var_DocumentCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>var_AllDocIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_want_to_upload_another_Document_Type</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AdditionalBuildDocuments</name>
        <choiceText>Additional Build Documents</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Additional Build Documents</stringValue>
        </value>
    </choices>
    <choices>
        <name>AttachmentVendorQuotes</name>
        <choiceText>Attachment Vendor Quotes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Attachment Vendor Quotes</stringValue>
        </value>
    </choices>
    <choices>
        <name>BIDSpecifications</name>
        <choiceText>BID Specifications</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BID Specifications</stringValue>
        </value>
    </choices>
    <choices>
        <name>BodyVendorQuotes</name>
        <choiceText>Body Vendor Quotes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Body Vendor Quotes</stringValue>
        </value>
    </choices>
    <choices>
        <name>BuildDrawings</name>
        <choiceText>Build Drawings</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Build Drawings</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChangeOrderForms</name>
        <choiceText>Change Order Forms</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Order Forms</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChassisVendorQuotes</name>
        <choiceText>Chassis Vendor Quotes&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chassis Vendor Quotes</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_DocumentType</name>
        <choiceText>Test Doc</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Test Doc</stringValue>
        </value>
    </choices>
    <choices>
        <name>CustomerProvidedPictures</name>
        <choiceText>Customer Provided Pictures</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Provided Pictures</stringValue>
        </value>
    </choices>
    <choices>
        <name>CustomerQuotesheets</name>
        <choiceText>Customer Quote sheets</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Quote sheets</stringValue>
        </value>
    </choices>
    <choices>
        <name>InternalCostWorkups</name>
        <choiceText>Internal Cost Workups</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal Cost Workups</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewOrderCommunicationForm</name>
        <choiceText>New Order Communication Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Order Communication Form</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>--None--</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>OtherVendorQuotes</name>
        <choiceText>Other Vendor Quotes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Vendor Quotes</stringValue>
        </value>
    </choices>
    <choices>
        <name>RBO</name>
        <choiceText>RBO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RBO</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_By_Document_Type</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter By Document Type</label>
        <locationX>578</locationX>
        <locationY>1100</locationY>
        <assignNextValueToReference>currentItem_Filter_By_Document_Type_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Libraries</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_By_Document_Type_0.Name</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>var_DocumentType</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Library_Count</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Document_Type</name>
        <label>Check Document Type</label>
        <locationX>578</locationX>
        <locationY>692</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Upload_File</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Document Type Selected</defaultConnectorLabel>
        <rules>
            <name>Quote2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a1b</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_DocumentType_Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Input_to_Variable</targetReference>
            </connector>
            <label>Quote</label>
        </rules>
        <rules>
            <name>Quote_Request2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a07</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_DocumentType_QuoteRequest</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Input_to_Variable2</targetReference>
            </connector>
            <label>Quote Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Object</name>
        <label>Check Object</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>No Object</defaultConnectorLabel>
        <rules>
            <name>Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a1b</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upload_File</targetReference>
            </connector>
            <label>Quote</label>
        </rules>
        <rules>
            <name>Quote_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a07</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_User_Role</targetReference>
            </connector>
            <label>Quote Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Role</name>
        <label>Check User Role</label>
        <locationX>534</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inside_Sales_Admin</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Administration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RoleName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inside Sales Central</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upload_File</targetReference>
            </connector>
            <label>Inside Sales/Admin</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckUploadedFiles</name>
        <label>CheckUploadedFiles</label>
        <locationX>314</locationX>
        <locationY>2348</locationY>
        <defaultConnector>
            <targetReference>Get_Content_Version_Uploaded</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_did_not_upload_any_Files</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_DocumentCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Upload_File</targetReference>
            </connector>
            <label>User did not upload any Files</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Library_Access</name>
        <label>Has Library Access?</label>
        <locationX>578</locationX>
        <locationY>1316</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>filterLibraryCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Library_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Refresh_Uploaded_Files_List</name>
        <label>Refresh Uploaded Files List</label>
        <locationX>578</locationX>
        <locationY>2564</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Refresh_Files</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddMoreButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RefreshFiles</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Upload_File</targetReference>
            </connector>
            <label>Refresh Files</label>
        </rules>
        <rules>
            <name>Upload_Files</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddMoreButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upload</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Picklist_Value</targetReference>
            </connector>
            <label>Upload Files</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_want_to_upload_another_Document_Type</name>
        <label>User want to upload another Document Type</label>
        <locationX>50</locationX>
        <locationY>2240</locationY>
        <defaultConnector>
            <targetReference>CheckUploadedFiles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Upload_More</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddMoreButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AddMore</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Upload_File</targetReference>
            </connector>
            <label>Upload More</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>Get the picklist choice from the content version object</description>
        <name>pc_DocumentType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Document_Type__c</picklistField>
        <picklistObject>ContentVersion</picklistObject>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pc_LibraryName</name>
        <collectionReference>Get_Libraries</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>ContentWorkspace</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>RoleName</name>
        <dataType>String</dataType>
        <expression>{!$UserRole.Name}</expression>
    </formulas>
    <interviewLabel>Upload File {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Upload File</label>
    <loops>
        <name>Files_Loop</name>
        <label>Files Loop</label>
        <locationX>226</locationX>
        <locationY>1532</locationY>
        <collectionReference>FileUpload.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Content_Document</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Library_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Library_Loop</name>
        <label>Library Loop</label>
        <locationX>50</locationX>
        <locationY>1424</locationY>
        <collectionReference>Filter_By_Document_Type</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Files_Loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_all_Document_Ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Content_Document_Link</name>
        <label>Create Content Document Link</label>
        <locationX>314</locationX>
        <locationY>1748</locationY>
        <connector>
            <targetReference>Files_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Files_Loop</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>Library_Loop.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Content_Version_Uploaded</name>
        <label>Get Content Version Uploaded</label>
        <locationX>578</locationX>
        <locationY>2456</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Refresh_Uploaded_Files_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>In</operator>
            <value>
                <elementReference>var_AllDocIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentVersion</object>
        <sortField>Document_Type__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Libraries</name>
        <label>Get Libraries</label>
        <locationX>578</locationX>
        <locationY>992</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_By_Document_Type</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentWorkspace</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Content_Document</name>
        <label>Update Content Document</label>
        <locationX>314</locationX>
        <locationY>1640</locationY>
        <connector>
            <targetReference>Create_Content_Document_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Files_Loop</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Document_Type__c</field>
            <value>
                <elementReference>var_DocumentType</elementReference>
            </value>
        </inputAssignments>
        <object>ContentVersion</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1106</locationX>
        <locationY>1424</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;You don&apos;t have access to upload for this Document Type&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>screen to upload the file</description>
        <name>Upload_File</name>
        <label>Upload File</label>
        <locationX>578</locationX>
        <locationY>584</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Document_Type</targetReference>
        </connector>
        <fields>
            <name>input_DocumentType_Quote</name>
            <choiceReferences>RBO</choiceReferences>
            <choiceReferences>CustomerProvidedPictures</choiceReferences>
            <choiceReferences>CustomerQuotesheets</choiceReferences>
            <choiceReferences>BIDSpecifications</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>None</elementReference>
            </defaultValue>
            <fieldText>Document Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>a1b</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_DocumentType_QuoteRequest</name>
            <choiceReferences>AdditionalBuildDocuments</choiceReferences>
            <choiceReferences>InternalCostWorkups</choiceReferences>
            <choiceReferences>ChangeOrderForms</choiceReferences>
            <choiceReferences>ChassisVendorQuotes</choiceReferences>
            <choiceReferences>BodyVendorQuotes</choiceReferences>
            <choiceReferences>AttachmentVendorQuotes</choiceReferences>
            <choiceReferences>OtherVendorQuotes</choiceReferences>
            <choiceReferences>NewOrderCommunicationForm</choiceReferences>
            <choiceReferences>BuildDrawings</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>None</elementReference>
            </defaultValue>
            <fieldText>Document Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>recordId</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>a07</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RoleName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Inside Sales Central</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RoleName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Administration</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Document</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>contentDocumentIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.pdf,.jpg,.png,.msg,.doc,.docx,.jpeg,.pptx,.csv,.ppt,.xls,.xlsx,.bmp,.mp3,.vi,.gpg,.css,.gif,.ogg,.mov,.zip,.htm,.wav,.mpeg,.html,.dot,.mpg,.js,.ics,.swf,.xml,.js,.tif,.xsl,.mdb,.tiff,.xslt,.vsd,.pps,.ppsx,.rtf,.sxc,.sxi,.sxw,.txt</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>var_FileNames</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BlankSpace</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UploadedFiles2</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContentVersion</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Documents Uploaded</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Content_Version_Uploaded</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-b0a8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Document_Type__c&quot;,&quot;guid&quot;:&quot;column-dc73&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Document Type&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddMoreButton</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Refresh List&quot;,&quot;value&quot;:&quot;RefreshFiles&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Upload&quot;,&quot;value&quot;:&quot;Upload&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Upload</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Object</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Variable to Store Content Document Ids to be Uploaded</description>
        <name>contentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_By_Document_Type_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentWorkspace</objectType>
    </variables>
    <variables>
        <name>emptyLibraries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentWorkspace</objectType>
    </variables>
    <variables>
        <name>filterLibraryCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Variable to store Parent Record Id of the File.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_AllDocIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_DocumentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_DocumentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_FileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
